.header
{
    background-image: linear-gradient(rgba($color-primary-dark,0.80),rgba($color-primary-dark,0.50)), url("/img/gal-14.jpeg");
    grid-column:full-start / col-end 6;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr min-content min-max(6rem,min-content) 1fr;
    grid-template-columns: minmax(min-content,max-content);
    grid-row-gap: 1.5rem;
    padding: 8rem;
    padding-top: 4rem;
    justify-content: center;

    @media only screen and (max-width:$bp-medium)
    {
      grid-column:1 / -1;
      grid-row-gap: 0rem;
      padding: 1rem;
      grid-template-rows: min-content min-content min-max(3rem,min-content) min-content;
    }
    

    &__logo
    {
      height: 7rem;
      justify-self: center;
    }

    &__payment-logos
    {  
      display: grid;
      grid-template-columns: repeat(3,1fr); 
      grid-gap:3rem;
      justify-items: center;
      align-items: center;
      filter: brightness(70%);
      
 
         img{
           height:6rem;
           max-width: 100%;
         }
    }

    &__btn
    {
        justify-self: start ;
        align-self: center;
    }
    
    &__payment
    {
      font-size: 1.5rem;
      color: $color-grey-light-1;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-gap: 3px;
      justify-items: center;
      align-items: center;

      &::before
      {
        content: "";
        display: block;
        background-color: $color-grey-light-1;
        width:94%;
        height: 1%;
      }

      &::after
      {
        content: "";
        display: block;
        background-color: $color-grey-light-1;
        width:95%;
        height: 1%;
      }
    }

}

